---
import { CardStack } from './CardsStack.tsx';

const cardItems = [
  {
    id: 1,
    name: '5 / 5 ',
    designation: 'Upwork',
    content:
      ' "Communication and problem solving. " ',
  },
  {
    id: 2,
    name: '5 / 5 ',
    designation: 'Upwork',
    content: ' "Very patient with trying to get the best end result." ',
  },
  {
    id: 3,
    name: '5 / 5 ',
    designation: 'Upwork',
    content:
      '"Organization and attention to detail. "',
  },
  {
    id: 4,
    name: '5 / 5 ',
    designation: 'Upwork',
    content:
      '"Flexibility and adaptability. "',
  },
];
---

<div class="relative mt-8 opacity-100 animated-text translate-y-5">
  <p class="text-lg max-md:text-md mt-4">
    Cristina Egusquiza <span class="text-rose-custom font-bold"
      >Full Stack Web Developer Location: Bilbao, Spain</span>
      I am a certified Full Stack Web Developer with a degree from Bottega University (2023-2024). My journey in programming has equipped me with strong skills in both front-end and back-end technologies. I have worked on a diverse range of projects, showcasing my comprehensive expertise in web development. All of my old and new  habilities allow me  to contribute to dynamic teams .  I am currently seeking a full-time position . <span
      class="bg-gradient-to-r from-orange-400 to-red-600 bg-clip-text text-transparent font-bold"
      >Feel free to contact me!</span
    >
  </p>
</div>


<CardStack items={cardItems} client:load />
