---
import Main from '../layouts/Main.astro';
import NavCards from '../components/UI/NavCards.astro';
import AboutHero from '../components/About/AboutHero.astro';
---

<Main title="About Me">
  <NavCards />
  <AboutHero />
</Main>
