---
import Main from '../layouts/Main.astro';
import Form from '../components/Form.jsx';
---

<Main title="Contact Me">
  <div class="animate">
    <Form />
  </div>
  <p class="text-center animate mt-4">Or you can find me on these platforms:</p>
</Main>
