---
import Main from '../layouts/Main.astro';
import NavCards from '../components/UI/NavCards.astro';
import HomeHeader from '../components/Home/HomeHeader.astro';
import RecentPosts from '../components/Home/RecentPosts.astro';
---

<Main title="Ibrahim Elkamali">
  <HomeHeader />
  <NavCards />
  <RecentPosts />
</Main>
