---
import Main from '../layouts/Main.astro';
import Cards from '../components/Cards.astro';

const blogs = await Astro.glob<{
  title: string;
  poster:string;
  subtitle:string;
}>("../pages/blogs/*.md")
---

<Main title="Ibrahim Elkamali">
  <div class="profile">
    <img
      class="profile-picture"
      width="100px"
      height="100px"
      src="/images/cat.jpg"
      alt="Avatar"
    />
    <div class="profile-details">
      <h1>Ibrahim Elkamali </h1>
      <h2>Your Astro Front-End Developer</h2>
      <p>
        I'm here to help you build your fast and scalable web applications.
      </p>
    </div>
  </div>
  <div class="" transition:name="cards">
    <Cards
      cards={[
        {
          title: 'Tech Stack',
          gradientFrom: '#818cf8',
          gradientTo: '#d8b4fe',
          to: '/techStack',
        },
        {
          title: 'A summary of my work history',
          gradientFrom: '#fde68a',
          gradientTo: '#fca5a5',
          to: '/work-summary',
        },
        {
          title: 'What I do beyond technology',
          gradientFrom: '#6ee7b7',
          gradientTo: '#9333ea',
          to: '/beyond-tech',
        },
      ]}
    />
  </div>
  <div class="featured-blogs">
    <h3 class="featured-blogs_title">Featured Blogs</h3>
    <p class="featured-blogs_description">
      Opinion piecies that will change everything you know
    </p>
  </div>

  <ol class="blogs">
    {blogs.map((blog) => (
      <li class="blog-list">
        <a class="blog-link" href={blog.url}>{blog.frontmatter.title}</a>
      </li>
    ))}
  </ol>
  
</Main>

<style>
  .profile {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 0 3rem;
  }

  .profile-details {
    flex: 1 0 300px;
  }
  .profile-details > h1 {
    margin-top: 0;
  }

  .profile-picture {
    object-fit: cover;
    border-radius: 50%;
    margin: 0 2rem 1rem 0;
  }

  .featured-blogs {
    margin: 0;
    padding: 3rem 0 0 0;
  }

  .featured-blogs_title {
    font-size: 2rem;
    color: var(--grey-900);
  }

  .featured-blogs_description {
    margin-top: -1.2rem;
  }

  .blogs {
    font-size: 1rem;
    font-weight: 500;
  }

  .blog-list {
    border-bottom: 1px solid;
    border-color: var(--grey-200);
  }

  .blog-link {
    opacity: 1;
    height: 100%;
    display: block;
    padding: 1rem 0;
    color: var(--gray-200);
    text-decoration: none;
    transition: opacity: .2s ease-in-out;;
  }

  .blog-link:hover {
    opacity: .7;
  }
</style>
