---
import Main from '../layouts/Main.astro';
import NavCards from '../components/UI/NavCards.astro';
import ProjectHero from '../components/Project/ProjectHero.astro';
---

<Main title="My Projects">
  <NavCards />
  <ProjectHero />
</Main>
