---
import Main from '../layouts/Main.astro';
import Cards from '../components/Cards.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<Main title="My Projects">
  <div class="" transition:name="cards">
    <Cards
      cards={[
        {
          title: 'Technology I possess',
          gradientFrom: '#818cf8',
          gradientTo: '#d8b4fe',
          to: '/techStack',
        },
        {
          title: 'Projects I Have Worked On',
          gradientFrom: '#fde68a',
          gradientTo: '#fca5a5',
          to: '/projects',
        },
        {
          title: 'Learn More About Me',
          gradientFrom: '#6ee7b7',
          gradientTo: '#9333ea',
          to: '/aboutMe',
        },
      ]}
    />
  </div>

  <section class="text-center container mx-auto py-8">
    <p>Here you can review my 3 highlights</p>
    <br />
    <p></p>
    <div class="flex flex-col">
      <ProjectCard
        title="Engineering portfolio"
        description="Simple Astro project with some magic!"
        technologies={['Astro', 'Markdowns']}
        href="https://test-astro-portoflio.netlify.app/"
        imgSrc="/images/iphone_15.png"
        imgAlt="Project"
      />
      <ProjectCard
        title="Architecture website"
        description="Multipage website with OOP"
        technologies={['Vite', 'JS', 'React']}
        href="https://architecture-digital.netlify.app/"
        imgSrc="/images/nike.png"
        imgAlt="Project"
      />
      <ProjectCard
        title="Bankist minimalist"
        description="Simple website with JS magic!"
        technologies={['JS']}
        href="https://ai-225-timetable.netlify.app/"
        imgSrc="/images/poker.png"
        imgAlt="Portfolio"
      />
    </div>
  </section>
</Main>
