---
import Main from '../layouts/Main.astro';
import NavCards from '../components/UI/NavCards.astro';
import TechStackHero from '../components/TechStack/TechHero.astro';
import TechStackAnimation from '../components/techStackAnimation.astro';
---

<Main title="Tech Stack">
  <NavCards />
  <TechStackHero />
  <div class="animate">
    <TechStackAnimation />
  </div>
  
</Main>
