---
import Main from '../layouts/Main.astro';
import NavCards from '../components/UI/NavCards.astro';
import TechStackHero from '../components/TechStack/TechHero.astro';
import IconCloudWrapper from '../components/TechStack/IconCloudWrapper';
---

<Main title="Tech Stack">
  <NavCards />
  <TechStackHero />
  <div class="animate">
    <IconCloudWrapper
      iconSlugs={[
        'react',
        'astro',
        'tailwindcss',
        'javascript',
        'typescript',
        'html5',
        'css3',
        'sass',
        'bootstrap',
        'materialui',
        'webpack',
        'babel',
        'npm',
        'yarn',
        'git',
        'github',
        'gitlab',
        'bitbucket',
        'figma',
        'adobephotoshop',
        'netlify',
        'vercel',
        'gatsby',
        'redux',
        'eslint',
        'prettier',
      ]}
      client:load
    />
  </div>
</Main>
