---
import Main from '../layouts/Main.astro';
import NavCards from '../components/UI/NavCards.astro';
import TechStackHero from '../components/TechStack/TechHero.astro';
import IconCloud from '../../@/components/magicui/icon-cloud.jsx';
---

<Main title="Tech Stack">
  <NavCards />
  <TechStackHero />

  <div class="animate">
    <IconCloud
      iconSlugs={[
        'react',
        'nextjs',
        'astro',
        'tailwindcss',
        'javascript',
        'typescript',
        'nodejs',
        'express',
        'mongodb',
        'graphql',
        'apollo',
        'html5',
        'css3',
        'sass',
        'bootstrap',
        'materialui',
        'webpack',
        'babel',
        'jest',
        'npm',
        'yarn',
        'docker',
        'kubernetes',
        'aws',
        'firebase',
        'git',
        'github',
        'gitlab',
        'bitbucket',
        'vscode',
        'figma',
        'adobephotoshop',
        'adobexd',
        'vuejs',
        'angular',
        'python',
        'django',
        'flask',
        'php',
        'laravel',
        'mysql',
        'postgresql',
        'redis',
        'sqlite',
        'heroku',
        'netlify',
        'vercel',
        'strapi',
        'prisma',
        'wordpress',
        'shopify',
        'woocommerce',
        'gatsby',
        'threejs',
        'chartjs',
        'd3js',
        'jest',
        'cypress',
        'circleci',
        'travisci',
        'tailwindui',
        'redux',
        'eslint',
        'prettier',
        'typescript',
        'pwa',
        'webpack',
        'babel',
        'rollupjs',
        'vitejs',
        'svelte',
        'sapper',
      ]}
      client:load
    />
  </div>
</Main>
