<div id="blogPostIframeContainer" class="hidden">
  <iframe id="blogPostIframe" src="https://giphy.com/embed/kjDQ00nkmCrCezmje0"
  ></iframe>
</div>

<div id="resumeIframeContainer" class="hidden">
  <iframe id="resumeIframe" src="https://giphy.com/embed/BkIWP8ZiXzo3cR6oS0"
  ></iframe>
</div>

<p class="mt-5 animate">
  Here are the technologies I specialize in! This is just a glimpse of my
  expertise. For a detailed overview, feel free to check out <a
    href="#"
    id="resumeLink"
    class="underline font-bold text-rose-custom uppercase underline-offset-4"
    >my resume</a
  > (in progress) or explore my <a
    class="underline font-bold text-purple-600 uppercase underline-offset-4"
    href="/blogs/technologies-stack"
    id="blogPostLink">blog post</a
  >
  about my Front-end development journey.
  <br />
  <br />
  <span>
    Once all the images are displayed, feel free to drag them around and have
    some fun!
  </span>
</p>

<style>
  <style > .grid-container {
    width: 100%;
    height: 500px;
  }
  #resumeIframeContainer,
  #blogPostIframeContainer {
    position: absolute;
    pointer-events: none; /* Ignore mouse events */
    z-index: 1000;
  }

  #resumeIframe,
  #blogPostIframe {
    width: 400px;
    height: 300px;
  }
</style>

<script>
  setupIframeHover('resumeLink', 'resumeIframeContainer');
  setupIframeHover('blogPostLink', 'blogPostIframeContainer');

  function setupIframeHover(linkId: string, containerId: string) {
    const link = document.getElementById(linkId) as HTMLAnchorElement;
    const container = document.getElementById(containerId) as HTMLDivElement;

    link.addEventListener('mouseenter', (event: MouseEvent) => {
      container.classList.remove('hidden');
      positionIframe(event, container);
    });

    link.addEventListener('mousemove', (event: MouseEvent) => {
      positionIframe(event, container);
    });

    link.addEventListener('mouseleave', () => {
      container.classList.add('hidden');
    });
  }

  function positionIframe(event: MouseEvent, container: HTMLDivElement) {
    const offset = 10;
    const x = event.clientX + offset;
    const y = event.clientY + offset;

    container.style.left = `${x}px`;
    container.style.top = `${y}px`;
  }
</script>
