---
const blogs = await Astro.glob<{
  title: string;
  poster: string;
  subtitle: string;
}>('../../pages/blogs/*.md');
---

<div class="mt-12 animate">
  <h3 class="text-3xl text-gray-900 dark:text-gray-100 mb-4">Featured Blogs</h3>
  <p class="text-gray-600 dark:text-gray-400 mb-8">
    Discover my top three highlighted blogs, each showcasing my Front-End path!
  </p>
</div>

<ol class="space-y-4 animate">
  {
    blogs.map(blog => (
      <li class="border-b border-gray-200 dark:border-gray-700">
        <a
          class="block py-4 text-gray-900 dark:text-gray-100 transition-opacity duration-200 ease-in-out hover:opacity-70"
          href={blog.url}
        >
          {blog.frontmatter.title}
        </a>
      </li>
    ))
  }
</ol>
