---
import ThemeToggler from '../components/ThemeToggler.astro';
---

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/techStack">Tech Stack</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/hobbies">Hobbies</a></li>
    <ThemeToggler />
  </ul>
</nav>

<style>
  nav {
    display: flex;
    align-items: flex-start;
    padding: 2rem 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto 0 0;
  }
  nav li {
    opacity: 0.8;
    list-style: none;
    font-size: 0.95rem;
  }

  a {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--grey-400);
  }

  a:hover {
    color: var(--grey-900);
  }

  a.active {
    background-color: var(--grey-900);
    color: var(--background);
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const { pathname } = window.location;

    const navLinks = document.querySelectorAll('nav a');

    navLinks.forEach(link => {
      if (link.getAttribute('href') === pathname) {
        link.classList.add('active');
      }
    });
  });
</script>
