---
import ThemeToggler from '../components/ThemeToggler.astro';
---

<nav class="flex py-4 px-4 justify-between items-center">
  <ul class="flex flex-wrap p-0 m-0">
    <li class="opacity-80 list-none text-[0.95rem]">
      <a
        href="/"
        class="px-4 py-2 rounded-lg no-underline text-grey-400 hover:text-grey-900"
        >Home</a
      >
    </li>
    <li class="opacity-80 list-none text-[0.95rem]">
      <a
        href="/techStack"
        class="px-4 py-2 rounded-lg no-underline text-grey-400 hover:text-grey-900"
        >Tech Stack</a
      >
    </li>
    <li class="opacity-80 list-none text-[0.95rem]">
      <a
        href="/projects"
        class="px-4 py-2 rounded-lg no-underline text-grey-400 hover:text-grey-900"
        >Projects</a
      >
    </li>
    <li class="opacity-80 list-none text-[0.95rem]">
      <a
        href="/hobbies"
        class="px-4 py-2 rounded-lg no-underline text-grey-400 hover:text-grey-900"
        >Hobbies</a
      >
    </li>
  </ul>
  <ThemeToggler />
</nav>

<script>
  document.addEventListener('astro:page-load', () => {
    console.log('DOMContentLoaded event fired');
    const { pathname } = window.location;
    console.log('Current pathname:', pathname);

    const navLinks = document.querySelectorAll('nav a');
    console.log('Nav links:', navLinks);

    navLinks.forEach(link => {
      console.log('Checking link:', link.getAttribute('href'));
      if (link.getAttribute('href') === pathname) {
        console.log('Match found:', link.getAttribute('href'));
        link.style.backgroundColor = '#111827';
        link.style.color = '#f8fafc';
      }
    });
  });
</script>
