---
import Cards from './Cards.astro';
---

<div transition:name="cards">
  <Cards
    cards={[
      {
        title: 'Technology Stack',
        gradientFrom: '#6366f1',
        gradientTo: '#8b5cf6',
        to: '/techStack',
      },
      {
        title: 'Projects I Have Worked On',
        gradientFrom: '#8b5cf6',
        gradientTo: '#06b6d4',
        to: '/projects',
      },
      {
        title: 'Learn More About Me',
        gradientFrom: '#06b6d4',
        gradientTo: '#10b981',
        to: '/aboutMe',
      },
    ]}
  />
</div>
