---
import Cards from './Cards.astro';
---

<div transition:name="cards">
  <Cards
    cards={[
      {
        title: 'Technology Stack',
        gradientFrom: '#818cf8',
        gradientTo: '#d8b4fe',
        to: '/techStack',
      },
      {
        title: 'Projects I Have Worked On',
        gradientFrom: '#fde68a',
        gradientTo: '#fca5a5',
        to: '/projects',
      },
      {
        title: 'Learn More About Me',
        gradientFrom: '#6ee7b7',
        gradientTo: '#9333ea',
        to: '/aboutMe',
      },
    ]}
  />
</div>
